.hero {
  padding: 118px 0;
  background-color: $section-bgc;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/header480.jpg);

  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  margin: 0 auto;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(./images/header480@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(./images/header768.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./images/header768@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    background-image: url(./images/header1600.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./images/header1600@2x.jpg);
    }
  }
}

.hero__title {
  margin-bottom: 30px;

  color: $button-text;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;

  letter-spacing: 0.06em;
}

/* BUTTON */
.button {
  padding: 10px 32px;

  background-color: $accent-color;
  color: $button-text;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: #188ce8;
  }
}
